<h2>Chefs Waiting for KYC Verification</h2>
<div class="container" *ngIf="pendingChefList">
 <div class="row">
    <div class="col-md-4" *ngFor="let chef of pendingChefList ">
      <div class="card" style="background-color:#FCF2A2;width:350px;text-align:center">
        <div style="margin :0 auto">
          <h6>UserId:{{ chef.uid }}</h6>
          <h6>Name: {{chef.fullname}}</h6>
          <h6>Email: {{ chef.email }}</h6>
          <h6>Address: {{chef.address}}</h6>
          <h6>Mobile: {{chef.mobile}}</h6>
          <p><button class="btn btn-primary" (click)="activateChef(chef.uid)">Activate the Chef</button></p>
        </div>
      </div>
    </div>
  </div>
</div>



<h2>Issues faced by user</h2>
  <div class="container" *ngIf="issuesList">
   <div class="row" >
    <div class="col-md-4 " style='padding-top:20px' *ngFor="let issue of issuesList ">
      <div class="card" style="background-color:#C099FB;width:350px;text-align:center">
        <div style="margin :0 auto">
          <h6>Issue Id:{{ issue.issueid }}</h6>
          <h6>User Id: {{issue.userid}}</h6>
          <h6>User Name: {{issue.username}}</h6>
          <h6>Email: {{ issue.email }}</h6>
          <h6>Role: {{issue.role}}</h6>
          <h6>Issue: {{issue.issue}}</h6>
          <p><button class="btn btn-primary" (click)="acknowledge(issue.issueid)">Acknowledged</button></p>
        </div>
      </div>
    </div>
  </div>
  </div>