<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active"  routerLink="/waiting-for-verification">
                <i class="fa fa-user"></i>Waiting for confirmation
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" *ngIf="this.authService.isChef" routerLink="/posts/upload">
                <i class="fa fa-plus-circle"></i>Post New Recipe
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" *ngIf="this.authService.isChef" routerLink="/active-post">
                <i class="fa fa-bell"></i>Active Posts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" *ngIf="this.authService.isChef" routerLink="/inactive-post">
                <i class="fa fa-bell-slash"></i>Inactive Posts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" *ngIf="this.authService.isCustomer" routerLink="*">
                <i class="fa fa-clock-o"></i>Check and Pay for Order
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" (click)="getTodayOrders()" *ngIf="this.authService.isCustomer"
                >
                <i class="fa fa-shopping-cart"></i>Todays Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" (click)="getPastOrders()" *ngIf="this.authService.isCustomer">
                <i class="fa fa-shopping-cart"></i>Past Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li> -->
          </ul>
        </div>
      </nav>
  
      
      <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
        
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{
                    user.photoURL
                      ? user.photoURL
                      : '../../../assets/dummy-user.png'
                  }}" alt="{{ user.displayName }}" />
                <div class="media-body">
                  <h1>
                    Hello:
                    <strong>{{ user.fullname ? user.fullname : "User" }}</strong>
                  </h1>
                  <p>
                    Email: <strong>{{ user.email }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div *ngIf="isCustomer" class="row">
          <div class="col-md">
            <h6>Type of Recipe</h6>
            <select [(ngModel)]="label" (change)="filterExact('label', label)">
              <option value="snacks">Snacks</option>
              <option value="others">Others</option>
              <option value="main course">Main Course</option>
              <option value="sweets">Sweets</option>
              <option value="all">All</option>
            </select>
          </div>
          <div class="col-md">
            <h6>Select Veg / Non-Veg</h6>
            <select [(ngModel)]="type" (change)="filterExact2('type', type)">
              <option value="veg">Veg</option>
              <option value="non-veg">Non-Veg</option>
              <option value="both">Both</option>
            </select>
          </div>
          <div class="col-md">
            <h6>Order Day</h6>
            <select [(ngModel)]="day" (change)="filterDateMoreThan('date',day)">
              <option value="today">Today</option>
              <option value="otherday">Any Other Day</option>
            </select>
          </div>
        </div>
        <div class="row" *ngIf="isCustomer">
          <div class="col-md-4" *ngFor="let recipeData of filterPostList">
            <div class="thumbnail" style="text-align:center">
              <div style="margin :0 auto">
                <h3>{{ recipeData.description }}</h3>
                <img [src]="recipeData.imageUrl" style="max-width: 200px; height: 200px; " />
                <h6>Rs {{ recipeData.price }}</h6>
                <h6>Chef id is: <a (click)="viewChefProfile(recipeData.userid)">{{ recipeData.userid }}</a> </h6>
                <h6>Pickup-start time:{{ recipeData.pickuptimestart }}</h6>
                <h6>Pickup-end time:{{ recipeData.pickuptimeend }}</h6>
                <h6>Book before: {{ recipeData.deadlinetime }}</h6>
                <p><button (click)="onClick(recipeData.key)">Book</button></p>
              </div>
            </div>
          </div>
        </div>
  
        <div *ngIf="isChef">
          <div>
            <h1>You have recieved new orders</h1>
          </div>
          <div div class="row">
            <div class="col-md-4" *ngFor="let order of ordersToBeConfirmed">
              <div class="thumbnail" style="text-align:center">
                <div style="margin :0 auto">
                  <h3>{{ order.item }}</h3>
                  <h6>Quantity: {{order.quantity}}</h6>
                  <h6>Total Amount: {{ order.price }}</h6>
                  <h6>Customer name: {{order.customername}}</h6>
                  <h6>Cooking Note: {{order.note}}</h6>
                  <p><button class="btn btn-primary" (click)="chefConfirmsOrder(order.ordid)">Confirm Order</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
      </main>
    </div>
  </div>
   -->
   <div div class="row" *ngIf="pendingChefList">
    <div class="col-md-4" *ngFor="let chef of pendingChefList ">
      <div class="thumbnail" style="text-align:center">
        <div style="margin :0 auto">
          <h3>{{ chef.uid }}</h3>
          <h6>Name: {{chef.fullname}}</h6>
          <h6>Email: {{ chef.email }}</h6>
          <h6>Address: {{chef.address}}</h6>
          <h6>Mobile: {{chef.mobile}}</h6>
          <!-- <h6>Order Time: {{order.date}}</h6> -->
          <p><button class="btn btn-primary" (click)="this.activateChef(chef.uid)">Activate Chef</button></p>
        </div>
      </div>
    </div>
  </div>